In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Documentos/UDELAR/logs/bio/logs_Bioquímica I 2018_20191015-1713.csv')

In [3]:
data

,Time,User full name,Affected user,Event context,Component,Event name,Description,Origin,IP address
0,"15/10/19, 17:13",Analista Moodle,-,Course: Bioquímica I 2018,Logs,Log report viewed,The user with id '282731' viewed the log repor...,web,179.24.28.163
1,"15/10/19, 17:13",Analista Moodle,-,Course: Bioquímica I 2018,System,Course viewed,The user with id '282731' viewed the course wi...,web,179.24.28.163
2,"1/10/19, 12:18",Analista Moodle,-,Course: Bioquímica I 2018,System,User list viewed,The user with id '282731' viewed the list of u...,web,190.134.250.106
3,"1/10/19, 12:17",Analista Moodle,-,Course: Bioquímica I 2018,System,User list viewed,The user with id '282731' viewed the list of u...,web,190.134.250.106
4,"1/10/19, 12:17",Analista Moodle,-,Course: Bioquímica I 2018,System,User list viewed,The user with id '282731' viewed the list of u...,web,190.134.250.106
...,...,...,...,...,...,...,...,...,...
89132,"14/02/18, 13:43",Garófalo Lucía,Susana Castro,Course: Bioquímica I 2018,System,User enrolled in course,The user with id '75273' enrolled the user wit...,web,164.73.80.221
89133,"14/02/18, 13:43",Garófalo Lucía,-,Course: Bioquímica I 2018,System,Enrolment instance created,The user with id '75273' created the instance ...,web,164.73.80.221
89134,"14/02/18, 13:43",Garófalo Lucía,-,Course: Bioquímica I 2018,System,Enrolment instance created,The user with id '75273' created the instance ...,web,164.73.80.221
89135,"14/02/18, 13:43",Garófalo Lucía,-,Course: Bioquímica I 2018,System,Enrolment instance created,The user with id '75273' created the instance ...,web,164.73.80.221
89136,"14/02/18, 13:43",Garófalo Lucía,-,Course: Bioquímica I 2018,System,Course created,The user with id '75273' created the course wi...,web,164.73.80.221